<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <title>job4j_accidents</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form th:action="@{/reg}" method="POST">
            <fieldset disabled>
                <legend>Введите логин и пароль для регистрации</legend>
            </fieldset>
            <div class="col-6">
                <div class="mb-3">
                    <label for="username" class="form-label">Логин</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
                <div class="col-3">
                    <a th:href="@{/login}">У меня уже есть логин и пароль</a>
                </div>
            </div>
        </form>
        <div class="col-6">
        <div style="margin-top: 3%" th:if="${error} != null" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
        </div>
    </div>
</div>
</body>
</html>
